body {
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
}

header {
  background-color: transparent;
  color: #000;
  text-align: center;
  padding: 60px 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: #000;
  font-family: Garamond, serif;
}
