body {
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
}

header {
  background-color: transparent;
  color: #000;
  text-align: center;
  padding: 100px 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 32px;
  color: #000;
  font-weight: normal;
  padding: 20px;
}

/* New CSS for the profile section */
.profile-section {
  background-color: #f0f0f0; /* Grey background color for the entire section */
  padding: 40px;
}

.profile-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex; /* To create a flexbox layout for photo and bio side-by-side */
}

.profile-photo {
  flex: 1; /* To make the photo take up 1 part of the flex container */
  padding-right: 20px; /* To add some space between the photo and bio */
}

.profile-photo img {
  width: 100%; /* Make the photo take up the full width of the container */
  display: block;
}

.bio {
  flex: 2; /* To make the bio take up 2 parts of the flex container */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.website-heading {
  margin-top: 40px; /* Adjust this value to control the offset */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  margin-left: 15px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.nav-links a.active {
  font-weight: bold; /* Bold the active tab */
}

.nav-links a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

