body {
  background-color: white;
  font-family: "Computer Modern Serif", sans-serif;
}

#header {
	background-color: white;
	text-align: center;
}

#container {
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	padding: 20px;
}

#nav {
	width: 180px;
	float: left;
}

#main {
	width: 600px;
	float: right;
}

a:link {
  color: black;
  font-family: monospace;
}

a:visited {
  color: black;
}

a:hover {
	background: #06D85F;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: "Computer Modern Serif", sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}