body {
  max-width: 800px; /* Set your desired maximum width */
  margin: 0 auto; /* This centers the content horizontally */
  padding: 0 20px; /* Optional: Adds some padding to the sides for spacing */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.container {
    max-width: 80%; /* Set maximum width to 60% of the screen */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
}

.header {
  background: white;
  color: black;
}

h1 {
  font-size: 3rem;
  font-weight: normal;  
}

.wp-container {
    margin-left: 20px; /* Adjust this value as needed */
}

.header-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  padding: 30px 40px 20px; /* Adjust padding for top, right, and bottom */
}

/* New CSS for the profile section */
.profile-section {
  padding: 40px;
}

.profile-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex; /* To create a flexbox layout for photo and bio side-by-side */
}

.profile-photo {
  flex: 1; /* To make the photo take up 1 part of the flex container */
  padding-right: 20px; /* To add some space between the photo and bio */
}

.profile-photo img {
  width: 100%; /* Make the photo take up the full width of the container */
  display: block;
}

.bio {
  flex: 2; /* To make the bio take up 2 parts of the flex container */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.centered-section {
  text-align: center; /* Center align the text content */
}

.nav-links {
  list-style: none;
  padding: 10px;
  margin: 20px 0;
  display: flex; /* Use flexbox to arrange the tabs */
  justify-content: flex-end; /* Align the tabs to the right */
  margin-right: 20px; /* Add space to the right of navigation */
}

.nav-links li {
  margin-left: 15px; /* Add some spacing between the tabs */
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 30px;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.nav-links a.active {
  font-weight: bold; /* Bold the active tab */
}

.nav-links a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.btn {
  background-color: #FF033E;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #BA0021;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
